<mat-card style="width: 48%; margin: 10px auto auto;" class="mt-5">
  <div class="container mt-3 mb-5">
    <div class="row">
      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <div class="d-inline d-flex justify-content-center align-items-center">
          <img
            [src]="imagePreview" *ngIf="imagePreview" alt="Image Preview"
               style="width: 70%;
               height: 70%;
               box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
               border-radius: 10%;"
               class="">
        </div>
      </div>
      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <div class="d-inline d-flex justify-content-center align-items-center">
          <form [formGroup]="formGroup">
            <div>
              <h2 for="fileUpload" class="col-md-6 d-flex justify-content-center align-items-center mt-2" style="width: 100%">Choose a file:</h2>
              <input type="file" class="form-control-file mb-2" style="width: 100%" id="fileUpload" (change)="onFileSelected($event)">
            </div>
            <div class="row mb-2">
              <h2 class="d-flex justify-content-center">Title:</h2>
              <input formControlName="title" class="form-control" style="text-align: center">
            </div>
            <div class="row mb-2">
              <h2 class="d-flex justify-content-center">Description:</h2>
              <input formControlName="description" class="form-control" style="text-align: center">
            </div>
            <div class="row mb-2">
              <h2 class="d-flex justify-content-center">Price:</h2>
              <input formControlName="price" class="form-control" style="text-align: center">
            </div>
            <div class="row mt-4 d-flex justify-content-center align-items-center">
                <button class="btn btn-primary" (click)="addItem()">Create product</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</mat-card>
