<mat-toolbar class="app-navbar" color="primary">
  <div class="right">
    <div fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="flex-end center">
      <button mat-button routerLink="shop" *ngIf="isLoggedIn() && storageService.getRoleFromToken()=='Employee'
      || storageService.getRoleFromToken()=='Admin'">
        <b style="color: deeppink;" >SHOP</b>
      </button>
      <button mat-button routerLink="/innovation-list" *ngIf="isLoggedIn() && storageService.getRoleFromToken()=='Lead'">
        <span>View Innovations</span>
      </button>
      <button mat-button routerLink="/innovation-list" *ngIf="isLoggedIn() && storageService.getRoleFromToken()=='Employee'">
        <span>My Innovations</span>
      </button>
      <button mat-button routerLink="/innovation-create" *ngIf="isLoggedIn() && storageService.getRoleFromToken()=='Employee'">
        <span>Propose an innovation</span>
      </button>
      <button *ngIf="!isLoggedIn()" mat-button routerLink="/login">
        <span>Login</span>
      </button>
      <button *ngIf="!isLoggedIn()" mat-button routerLink="/registration">
        <span>Sign up</span>
      </button>
      <button *ngIf="isLoggedIn()" mat-button (click)="logout()">
        <span>Log out</span>
      </button>
    </div>
  </div>
</mat-toolbar>
